<br><br>
<h6>What is flavonoids content?</h6>
<p>
&emsp;From a class of plant and fungus secondary metabolites is flavonoids content. Flavonoids contain anti-inflammatory and immune system benefits which makes flavonoids a powerful antioxidant. Moreover, flavonoids contain more than 6,000 types and are the largest group of phytonutrients.<br><br>
&emsp;The polyphenol class of phytonutrients are where flavonoids reside. Moreover, polyphenols have been used historically in Chinese and Ayurvedic medicine. <br><br>
&emsp; The benefits of intaking herbs with flavonoids are longevity, weight management, prevention of cardiovascular disease, help with diabetes, cancer prevention and neurodegenerative disease prevention. 
</p>
