<% provide(:title, "Sources") %>
<% provide(:p, "Listed below are the sources where the data used for this site was obtained.") %>

<div class="container">
	
			<h6>Dataset: chinese_herbs.csv</h6>
			Source: H. Liu, N. Qiu, H. Ding, R. Yao (2008). "Polyphenols Contents and Antioxidant Capacity of 68 Chinese Herbals Suitable for Medical or Food Uses," Food Research International, Vol. 41, pp. 363-370.

</div>
	
