<div class="chatWrapper">
	<h1>Chat room</h1>

	<div id="messages">
		<%= render @messages %>
	</div>

	<form id="messageInput">
		<label>Say something:</label><br>
		<input type="text" data-behavior="room_speaker">
	</form>
</div>
