<div class="chatWrapper">
	<div class="expandRow">
			<span onclick="onMax()" id="chatMax"class="glyphicon glyphicon-plus"></span>
			<span onclick="onMin()" id="chatMin" class="glyphicon glyphicon-minus"></span>
			&nbsp;
	</div>
	<div class="chatRow">
		<h2>
			Chat Room
		</h2>
	</div>

<div id="wholeChat">
	<div id="messages">
		<%= render @messages %>
	</div>

	<form id="messageInput">
		<label>Say something:</label><br>
		<!--input id="mes_input"type="text" placeholder="Type message.." data-behavior="room_speaker"-->
		<textarea id="mes_input"type="text" placeholder="Type message.." data-behavior="room_speaker"></textarea>
		<p-small>(press enter to send)</p-small>
	</form>
</div>
</div>
