.jumbotron {
	background-color: #990a00;
	//background-color: #8e0900;
	//background-color: #ffbe70;
}

nav {
  .navbar-default {
    background-color: #990a00 !important;
  }
}

body {
	//background-color: #8e0900;
	//background-color: #990a00;
	background-color: #e67e00;
}
