// Place all the styles related to the Herbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bar {
  fill: #ff5555;
}

.bar:hover {
	fill: #ff9393;
}

.tooltip {
  position: absolute;
  width: 275px;
  height: 40px;
  pointer-events: none;
  color: #000000;
}

table {
	tbody {
		tr {
			td {
				a {
					color: #262626;
				}
				a:hover {
					color: #e6e6e6;
				}
			}
		}
	}
}

#key {
	thead {
		tr {
			th {
				font-size: 14px;
				color: #000000;
			}
		}
	}
	tbody {
		tr {
			td {
				font-size: 14px;
				color: #000000;
			}
		}
	}
}
