.navbar {
	// background-color: #ffbe70;
	background-color: #e67e00;
	//background-color: #8e0900;
	color: #000000;
	a {
		color: #000000;
	}
	li {
		a {	
			color: #000000;
		}
	}
}

#bar {
	font-size: 40px;
}

