	<table class="table" id="key">
		<thead>
			<tr>
				<th scope="col">Abbreviation</th>
				<th scope="col">Meaning</th>
				<th scope="col">Measurement</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>TPC_M</td>
				<td>Mean/average total Phenolic content</td>
				<td>(mg GAE/g dw)</td>
			</tr>
			<tr>
				<td>TPC_SD</td>
				<td>Standard deviation of total Phenolic content</td>
				<td>(mg GAE/g dw)</td>
			</tr>
			<tr>
				<td>Flav_M</td>
				<td>Mean/average total Flavonoids content</td>
				<td>(mg RE/g dw)</td>
			</tr>
			<tr>
				<td>Flav_SD</td>
				<td>Standard deviation of total Flavonoids content</td>
				<td>(mg RE/g dw)</td>
			</tr>
			<tr>
				<td>DPPH_M</td>
				<td>Mean/average total DPPH scavenging capacity</td>
				<td>(%)</td>
			</tr>
			<tr>
				<td>DPPH_SD</td>
				<td>Standard deviation of total DPPH scavenging capacity</td>
				<td>(%)</td>
			</tr>
		</tbody>
	</table>


