<% provide(:title, "FRAP values") %>
<% provide(:p, "The FRAP values of 68 herbs - more information is provided below the graph. Tap on the bars to learn more about the particular herb displayed.") %>

<div class="container">
	<center>
		<div id="graphFour">
		</div>
	</center>

	<%= render 'static_pages/FRAP_value' %>
</div>

<script>

var herbs = "<%= @herbs %>";
var split_herbs = herbs.split('], [');
//console.log("herbs: " + herbs);
//console.log("split_herbs: " + split_herbs);
for(var i=0; i < split_herbs.length; i++){
  split_herbs[i] = split_herbs[i].split(';, &');
  //console.log("**split_herbs["+i+"]: " + split_herbs[i]);
  for(var j=0; j < split_herbs[i].length; j++){
    split_herbs[i][j] =  split_herbs[i][j].replace("&quot;","");
    split_herbs[i][j] =  split_herbs[i][j].replace("quot;","");
    split_herbs[i][j] =  split_herbs[i][j].replace("&quot","");
    console.log(">> split_herbs["+i+"]["+j+"]: " + split_herbs[i][j]);
  }
}


var herbData = [];
var herbNames = [];
for(var i=0; i < split_herbs.length; i++){
  if(i > 0){
    herbNames.push(split_herbs[i][0])
    herbData.push(split_herbs[i][1])
  }
}

var svg = d3.select("#graphFour").append("svg")
  .attr("height", 800)
  .attr("width", 600)

var div = d3.select("#graphFour").append("div")
  .attr("class", "tooltip")
  .style("opacity", 0);


var g = svg.append("g")
          .attr("transform", "translate(" + 0 + "," + 250 + ")");

var xScale = d3.scaleBand().range([0, 600]),
    yScale = d3.scaleLinear().range([200, 0]);

xScale.domain(split_herbs.map(function(d) { return d[0]+", "+d[1]; }));
yScale.domain([0, d3.max(split_herbs, function(d) { return d[1]; })]);



svg.selectAll("rect")
  .data(split_herbs)
  .enter().append("rect")
    .attr("class", "bar")
    .attr("height", function(d, i){ console.log("d: " + d); return d[5]*30;})
    .attr("width", "8")
    .attr("x", function(d, i){ return (i * 7) + (i*1.75);})
    .attr("y", function(d, i){ return 600 - (d[5]*30);})
    .attr("stroke", "black")
    .attr("stroke-width", "0.5")
    .on('mouseover', function(d, i){
        div.transition()
          .duration(200)
          .style("opacity", .9);
        div.html("<center>" + d[0] + " has a mean of <br>" + d[5] + "(Fe(II)mmol/g dw of FRAP value</center>")
          .style("left", (d3.event.pageX) + "px")
          .style("top", (d3.event.pageY - 28) + "px")
          .style("white-space", "nowrap")
          .style("border", "1px solid rgba(122, 122, 122, 0.5)")
          .style("border-radius", "5px")
          .style("background-color", "#eaf4ff");
    });

svg.append("g")
    .attr("transform", "translate(0," + 600 + ")")
    .attr("class", "fooBar")
    .call(d3.axisBottom(xScale));
svg.selectAll("text")
    .attr("y", 0)
    .attr("x", 9)
    .attr("dy", ".35em")
    .attr("transform", "rotate(90)")
    .style("text-anchor", "start");


</script>
