<% provide(:title, "Flavonoids content") %>
<% provide(:p, "This graph represents the measurements of flavonoids content that was gathered from the study of the 68 herbs. Information about what flavonoids content is can be found below the graph.") %>

<div class="container">
	<center>
		<div id="graphThree">
		</div>
	</center>
		<%= render 'static_pages/flavonoids_content' %>
</div>

<script>

var herbs = "<%= @herbs %>";
var split_herbs = herbs.split('], [');
//console.log("herbs: " + herbs);
//console.log("split_herbs: " + split_herbs);
for(var i=0; i < split_herbs.length; i++){
  split_herbs[i] = split_herbs[i].split(';, &');
  //console.log("**split_herbs["+i+"]: " + split_herbs[i]);
  for(var j=0; j < split_herbs[i].length; j++){
    split_herbs[i][j] =  split_herbs[i][j].replace("&quot;","");
    split_herbs[i][j] =  split_herbs[i][j].replace("quot;","");
    split_herbs[i][j] =  split_herbs[i][j].replace("&quot","");
    console.log(">> split_herbs["+i+"]["+j+"]: " + split_herbs[i][j]);
  }
}


var svg = d3.select("#graphThree").append("svg")
  .attr("height", 600)
  .attr("width", 500)

var div = d3.select("#graphThree").append("div")
  .attr("class", "tooltip")
  .style("opacity", 0);

svg.selectAll("rect")
  .data(split_herbs)
  .enter().append("rect")
    .attr("class", "bar")
    .attr("height", function(d, i){ console.log("d: " + d); return d[3]*3.5;})
    .attr("width", "7")
    .attr("x", function(d, i){ return (i * 7);})
    .attr("y", function(d, i){ return 600 - (d[3]*3.5);})
    .attr("stroke", "black")
    .attr("stroke-width", "0.5")
    .on('mouseover', function(d, i){
        div.transition()
          .duration(200)
          .style("opacity", .9);
        div.html("<center>" + d[0] + " has a mean of <br>" + d[3] + " mg RE/g dw of Flavonoids content </center>")
          .style("left", (d3.event.pageX) + "px")
          .style("top", (d3.event.pageY - 28) + "px")
          .style("white-space", "nowrap")
          .style("border", "1px solid rgba(122, 122, 122, 0.5)")
          .style("border-radius", "5px")
          .style("background-color", "#eaf4ff");
    });


</script>
