<% provide(:title, "Graph Six") %>

<style>
path {
	fill: none;
	stroke: #aaa;
}
</style>

<div class="container">

	<svg width="700" height="40">
		<g class="axis" transform="translate(20, 0)" />
	</svg>

		<div id="o_graphSix">
		</div>
	<center>
		<div id="graphSix">
		</div>
	</center>
</div>


<script>
var herbs = "<%= @herbs %>";
var split_herbs = herbs.split('], [');
//console.log("herbs: " + herbs);
//console.log("split_herbs: " + split_herbs);
for(var i=0; i < split_herbs.length; i++){
  split_herbs[i] = split_herbs[i].split(';, &');
  //console.log("**split_herbs["+i+"]: " + split_herbs[i]);
  for(var j=0; j < split_herbs[i].length; j++){
    split_herbs[i][j] =  split_herbs[i][j].replace("&quot;","");
    split_herbs[i][j] =  split_herbs[i][j].replace("quot;","");
    split_herbs[i][j] =  split_herbs[i][j].replace("&quot","");
    //console.log(">> split_herbs["+i+"]["+j+"]: " + split_herbs[i][j]);
  }
}


var scale = d3.scaleLinear().domain([0, 1000]).range([0, 600]);

var axis = d3.axisBottom().scale(scale);

d3.select('.axis')
	.call(axis);
</script>
